
.content-div {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

footer {
    background-color: #643233;
    min-height: 16rem;
}

footer div.col-6 {
    color: peachpuff;
}

.nav-link:hover {
    text-shadow: 1px 1px 5px lightcyan;
}

@media screen and (min-width: 1200px) {
    .container-md {
        max-width:960px;
    }
}