






@keyframes nosto1 {
    from {
        padding-top: 8px;
        padding-bottom: 8px;

    }
    to {
        padding-top: 6px;
        padding-bottom: 10px;

    }
}




.active {

}

.ajv-text {
    font-size: 1rem;
    line-height: 1.6;
}

.ajv-logo {
    width: 30%;
}

.ajv-h1 {
    letter-spacing: -0.05rem;
    line-height: 1.1;
}

.ajv-h2 {
    line-height: 1.1;
}

.ajv-footer-text {
    font-size: 0.9rem;
    line-height: 1.3;
    padding-left: 1.5rem;
}

.content-div {
    border-top: 1px solid rgb(54, 57, 57);
    border-bottom: 1px solid rgb(54, 57, 57);
    min-height: calc(100vh - 56px - 14rem);
}

footer {
    /*background-color: #7e663f;*/
    background-color: #F2CC82;
    min-height: 14rem;
}

footer section.col {
    color: rgb(54, 57, 57);
}

.nav-link:hover:not(.active) {
    /*text-shadow: 1px 1px 20px #ECB654;*/
    animation-name: nosto1;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}


.section-img-center {
    display: block;
    margin: auto;
}

.section-img-left {
    display: block;
    margin-left: 0%;  
}

.section-img-right {
    display: block;
    float: right;
}

.mobile-display-div {
    display: none;
}

@media screen and (min-width: 1200px) {
    .container-md {
        max-width:960px;
    }
}

@media screen and (max-width: 576px) {
    .mobile-display-div {
        display: block;
    }
    .desktop-display-div {
        display: none;
    }
    .content-div {
        width: 95%;
        margin: auto;
    }
}